<header class="library-header">
  <div class="container">
    <div class="library-header__wrap">
      <a
        href="./index.html"
        class="logo"
        target="_self"
        rel="noopener noreferrer"
        title="Logo"
      >
        <svg class="logo__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-header-logo"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>
      <nav>
        <ul class="nav__list">
          <li class="nav__item">
            <a
              href="./index.html"
              class="nav__link"
              target="_self"
              rel="noopener noreferrer"
              title="Home page"
              >Home</a
            >
          </li>
          <li class="nav__item">
            <a
              href="./library.html"
              class="nav__link current js-library-link"
              target="_self"
              rel="noopener noreferrer"
              title="My library"
              >My library</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <ul class="library__btn-list">
      <li class="library__btn-item">
        <button
          type="button"
          class="library__btn watched__btn library__btn--active"
          aria-label="Watched"
        >
          Watched
        </button>
      </li>
      <li class="library__btn-item">
        <button
          type="button"
          class="library__btn queue__btn"
          aria-label="Queue"
        >
          Queue
        </button>
      </li>
    </ul>

    <!-- Theme-switcher -->
    <div class="theme-switcher">
      <div class="theme-switcher__thumb"></div>
      <button
        class="theme-switcher__btn"
        type="button"
        aria-label="switch-theme"
      >
        <svg class="theme-switcher__icon" width="16" height="16">
          <use href="/src/images/icons.svg#icon-moon"></use>
        </svg>
        <svg class="theme-switcher__icon" width="16" height="16">
          <use href="/src/images/icons.svg#icon-sun"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
