.pagination-container,
.pagination-library-container {
    @include centeredFlex();

    @media screen and (min-width: 320px) and (max-width: 768px) {
        padding: 40px 0;
    }

    @include mobile {
        padding: 50px 0 60px 0;
    }
}


.pagination-button:not(:last-child),
.dots {
    margin-right: 16px;

    @media screen and (min-width: 320px) and (max-width: 767px) {
        margin-right: 5px;
    }
}

.dots,
.first-button,
.last-button {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.pagination-button {
    padding: 0;
    background-color: $bg-body;
    border: none;
    color: $color-text;
    cursor: pointer;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.333;

    @media screen and (min-width: 320px) and (max-width: 767px) {
        font-size: 9px;
    }
}


.pagination--current {
    //width: 40px;
    //height: 40px;
    border-radius: 5px;
    background-color: $color-accent;
    color: $color-text-lighter;
    padding: 12px 13px;
}

/*.arrow-left,
.arrow-right {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: $bg-footer;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    stroke: #000;
    background-position: center;
    background-repeat: no-repeat;
}*/

/*.arrow-left {
    background-image: url(/src/images/arrow-left.svg);
}

.arrow-right {
    background-image: url(/src/images/arrow-right.svg);
}*/

.pagination-button-arrow {
    color: $color-accent;
    cursor: pointer;
}

.pagination-button-arrow-left {
    margin-right: 16px;
    color: $color-accent;
    cursor: pointer;

    @media screen and (min-width: 320px) and (max-width: 767px) {
        margin-right: 5px;
    }
}