@keyframes pulsate {
  from {
    transform: scale3d(1, 1, 1);
    filter: drop-shadow(none);
  }
  50% {
    transform: scale3d(1.15, 1.15, 1.15);
    filter: drop-shadow(0 0 2px $color-accent);
  }
  to {
    transform: scale3d(1, 1, 1);
    filter: drop-shadow(none);
  }
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $bg-footer;
  &__wrapper {
    @include tablet {
      display: flex;
    }
  }
  &__copyright {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    @include font(14px, 1.14, 400, null);
    @include centeredFlex();
    text-align: center;
    color: $color-text-light;
    @include tablet {
      margin-bottom: 0;
      margin-right: 0;
      @include font(16px, 1.19, 400, null);
    }
  }
  &__text {
    @include centeredFlex();
    margin: 0 auto;
    @include font(14px, 1.14, 400, null);
    text-align: center;
    color: $color-text-light;
    @include centeredFlex();
    @include tablet {
      margin-left: 5px;
      @include font(16px, 1.19, 400, null);
    }
  }
  &__icon {
    margin-left: 10px;
    margin-right: 10px;
    animation: pulsate 2s infinite alternate;
    text-shadow: 0 0 1px #545454, 0 0 4px #545454;
  }
  &__link {
    @include font(14px, 1.14, 400, null);
    display: flex;
    align-items: center;
    color: $color-text-light;
    margin-left: 5px;
    text-decoration: underline;
    border: transparent;
    background-color: $bg-footer;
    @include tablet {
      @include font(16px, 1.19, 400, null);
    }
  }
  &__accent {
    color: $color-accent;
    font-weight: 500;
  }
}
