.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
}
.footer-container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @include tablet {
    display: flex;
  }
}

.footer-box {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  @include tablet {
    margin-bottom: 0;
    margin-right: 0;
  }
  &__text {
    @include font(14px, 1.14, 400, null);
    @include centeredFlex();
    text-align: center;
    color: $color-text-light;
    @include tablet {
      @include font(16px, 1.19, 400, null);
    }
  }
}
.box {
  @include centeredFlex();
  margin: 0 auto;
  @include tablet {
    margin-left: 5px;
  }
  &__text {
    @include font(14px, 1.14, 400, null);
    text-align: center;
    color: $color-text-light;
    @include centeredFlex();
    @include tablet {
      @include font(16px, 1.19, 400, null);
    }
  }
  &__icon {
    margin-left: 5px;
    margin-right: 5px;
  }
  &__link {
    @include font(14px, 1.14, 400, null);
    display: flex;
    align-items: center;
    color: $color-text-light;
    margin-left: 5px;
    @include tablet {
      @include font(16px, 1.19, 400, null);
    }
  }
}
