.library-header {
  padding-top: 40px;
  padding-bottom: 62px;
  background-color: $bg-footer;

  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/photo_header_library_mob.jpg');

  @include retina {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/photo_header_library_mob.jpg');
  }

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include tablet {
    padding-bottom: 60px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/photo_header_library_tablet.jpg');

    @include retina {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/photo_header_library_tablet-2x.jpg');
    }
  }

  @include desktop {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/photo_header_library.jpg');

    background-repeat: repeat;
    background-size: contain;

    @include retina {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/photo_header_library-2x.jpg');
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

    @include tablet {
      margin-bottom: 40px;
    }
  }
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;

  @include font($font-size, 1.16, 500);
  text-transform: uppercase;
  color: $color-text-lighter;

  transition: background-color $transition-duration $transition-animation;
  &:hover,
  &:focus {
    color: $color-accent-secondary;
  }
}

.nav__link.current::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;

  background-color: $color-accent-secondary;
  display: block;
  bottom: 3px;
}

.library__btn-list {
  @include centeredFlex;
}

.library__btn-item:not(:last-child) {
  margin-right: 20px;

  @include tablet {
    margin-right: 32px;
  }
  @include desktop {
    margin-right: 16px;
  }
}

.library__btn {
  width: 130px;
  height: 44px;
  background-color: inherit;

  @include font($font-size, $line-height, 500);
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid $color-border;
  border-radius: 5px;
  transition: background-color $transition-duration $transition-animation;

  @include tablet {
    width: 152px;
  }
  @include desktop {
    width: 148px;
    height: 42px;
  }

  &:hover,
  &:focus {
    background-color: $color-accent;
    border: none;
  }
}
