.header {
  padding: 40px 0 45px 0;
  background-image: url(../images/main-header-bg-mobile-1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  height: 230px;
  background-color: $bg-body;
  @include retina {
    background-image: url(../images/main-header-bg-mobile-2x.jpg);
  }

  @include tablet {
    height: 216px;
    background-image: url(../images/main-header-bg-tablet-1x.jpg);
    @include retina {
      background-image: url(../images/main-header-bg-tablet-2x.jpg);
    }
  }

  @include desktop {
    background-image: url(../images/main-header-bg-desktop-1x.jpg);
    @include retina {
      background-image: url(../images/main-header-bg-desktop-2x.jpg);
    }
  }
}

.header__section {
  position: relative;
}

.header__nav-container {
  @include centeredFlex();
  justify-content: space-between;
  margin-bottom: 54px;
  @include tablet {
    margin-bottom: 40px;
  }
}

.header__list {
  @include centeredFlex();
  align-items: baseline;
  gap: 40px;
}

.header__item-link {
  @include font($font-size, 1.17, 500, null);
  @include centeredFlex();
  text-align: center;
  text-transform: uppercase;
  color: $color-text-lighter;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: text-shadow $transition-duration $transition-animation;
  &:hover {
    text-shadow: 1px 1px 2px $color-accent-secondary, 0 0 1em $color-text-light,
      0 0 0.2em $color-text-lighter;
  }
}

.header__item-link.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: $color-accent-secondary;
  display: block;
  bottom: 3px;
}

.header__form {
  @include centeredFlex();
}

.header__form-search {
  position: relative;
  transition: stroke $transition-duration $transition-animation;
  &:hover .header__form-icon {
    stroke: $color-accent-secondary;
  }
}

.header__form-input {
  width: 280px;
  height: 20px;
  background: transparent;
  border: none;
  border-bottom: 0.5px solid $color-border;
  color: $color-text-lighter;
  transition: color $transition-duration $transition-animation;
  &:focus-within {
    outline: none;
  }
  &:not(:placeholder-shown) {
    @include font(14px, 1.17, 400, null);
    color: $color-text-lighter;
  }
  &::placeholder {
    @include font(14px, 1.17, 400, null);
    color: $color-text-lighter;
  }
  &:hover::-webkit-input-placeholder {
    color: $color-accent-secondary;
  }
  &:hover {
    border-bottom: 0.5px solid $accent-secondary-border;
  }
  @include tablet {
    width: 336px;
  }
  @include desktop {
    width: 394px;
  }
}

.header__search-btn {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: stroke $transition-duration $transition-animation;
  &:hover .header__form-icon,
  &:focus .header__form-icon {
    stroke: $color-accent-secondary;
  }
}

.header__form-icon {
  fill: transparent;
  stroke: $color-text-lighter;
}

.header__notification {
  @include font(14px, 1.17, 400, null);
  @include centeredFlex;
  color: $color-accent-secondary;
  margin-top: 16px;
  @include tablet {
    margin-top: 20px;
  }
}
